<!DOCTYPE html>
<html lang="en">

<partial name="_HeadPartial" />

<body>
    <partial name="_MenuPartial" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_FooterPartial" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts") //or RenderSection("Scripts")
    }
    else
    {
       
    }
</body>
</html>